@model TravelnookMVC.Models.LocalPasswordModel

<h3>Cambiar contraseña</h3>

@using (Html.BeginForm("Manage", "Account", FormMethod.Post, new { enctype = "multipart/form-data" })) {
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)

    <fieldset>
        <legend>Formulario de cambio de datos</legend>
        <ol>
            <li>
               @Html.LabelFor(m => m.Nombre)
               @Html.EditorFor(model => model.Nombre)
               @Html.ValidationMessageFor(model => model.Nombre)
            </li>
            <li>
                @Html.LabelFor(m => m.Apellidos)
                @Html.EditorFor(model => model.Apellidos)
                @Html.ValidationMessageFor(model => model.Apellidos)
            </li>
            <li>
                @Html.LabelFor(m => m.Email)
                @Html.EditorFor(model => model.Email)
                @Html.ValidationMessageFor(model => model.Email)
            </li>
            <li>
                @Html.LabelFor(m => m.OldPassword)
                @Html.PasswordFor(m => m.OldPassword)
            </li>
            <li>
                @Html.LabelFor(m => m.NewPassword)
                @Html.PasswordFor(m => m.NewPassword)
            </li>
            <li>
                @Html.LabelFor(m => m.ConfirmPassword)
                @Html.PasswordFor(m => m.ConfirmPassword)
            </li>
            <li>
                @Html.LabelFor(m => m.Provincia)
                @Html.EditorFor(model => model.Provincia)
                @Html.ValidationMessageFor(model => model.Provincia)
            </li>
            <li>
                @Html.LabelFor(m => m.Localidad)
                @Html.EditorFor(model => model.Localidad)
                @Html.ValidationMessageFor(model => model.Localidad)
            </li>
            <li>
                @Html.LabelFor(m => m.Fecha)
                @Html.EditorFor(model => model.Fecha)
                @Html.ValidationMessageFor(model => model.Fecha)
            </li>
            <li>
                @Html.LabelFor(m => m.Foto)
                <input type="file" name="fotoperfil" accept="image/*" />
            </li>
            @Html.HiddenFor(m => m.Foto)
        </ol>
        <input type="submit" value="Modificar datos" />
    </fieldset>
}
