@model TravelnookMVC.Models.RegisterModel
@{
    ViewBag.Title = "Registrarse";
}

<hgroup class="title">
    <h1>@ViewBag.Title.</h1>
    <h2>Cree una cuenta nueva.</h2>
</hgroup>

@using (Html.BeginForm("Register", "Account", FormMethod.Post, new { enctype = "multipart/form-data" })) {
    @Html.AntiForgeryToken()
    @Html.ValidationSummary()

    <fieldset>
        <legend>Formulario de registro</legend>
        <ol>
            <li>
                @Html.LabelFor(m => m.Nombre)
                @Html.TextBoxFor(m => m.Nombre)
            </li>
            <li>
                @Html.LabelFor(m => m.Apellidos)
                @Html.TextBoxFor(m => m.Apellidos)
            </li>
            <li>
                @Html.LabelFor(m => m.UserName)
                @Html.TextBoxFor(m => m.UserName)
            </li>
            <li>
                @Html.LabelFor(m => m.Email)
                @Html.TextBoxFor(m => m.Email)
            </li>
            <li>
                @Html.LabelFor(m => m.Password)
                @Html.PasswordFor(m => m.Password)
            </li>
            <li>
                @Html.LabelFor(m => m.ConfirmPassword)
                @Html.PasswordFor(m => m.ConfirmPassword)
            </li>
            <li>
                @Html.LabelFor(m => m.Provincia)
                @Html.TextBoxFor(m => m.Provincia)
            </li>
            <li>
                @Html.LabelFor(m => m.Localidad)
                @Html.TextBoxFor(m => m.Localidad)
            </li>
            <li>
                @Html.LabelFor(m => m.Fecha)
                @Html.TextBoxFor(m => m.Fecha)
            </li>
            <li>
                @Html.LabelFor(m => m.Foto)
                <input type="file" name="fotoperfil" accept="image/*"/>
            </li>
        </ol>
        <input type="submit" value="Registrarse" />
    </fieldset>
}

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
