@model IEnumerable<TravelnookGenNHibernate.EN.Travelnook.SitioEN>

@{
    ViewBag.Title = "Home";
    ViewBag.Message = "La mejor web para encontrar un lugar";
}
@section featured {
    <section class="featured">
        <div class="content-wrapper">
            <hgroup class="title">
                <h1>@ViewBag.Title.</h1>
                <h2>@ViewBag.Message</h2>
            </hgroup>
        </div>
    </section>
}
<h3>Algunos sitios</h3>
<table>
    <tr>
    @foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Nombre)
            </td>
            <td>
                <!---<img height="60" width="100 "src=""/>-->@Html.DisplayFor(modelItem => item.Provincia)
            </td>
            <td>
                @Html.ActionLink("Detalles", "Details", "Sitio", routeValues: new { id = item.Nombre }, htmlAttributes:null)
            <td>
        </tr>
    }
    </table>
    