<!DOCTYPE html>
<html lang="es">
    <head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
        <meta charset="utf-8" />
        <title>@ViewBag.Title - Travelnook ASP.NET MVC</title>
        <link href="~/favicon.ico" rel="shortcut icon" type="image/x-icon" />
        <meta name="viewport" content="width=device-width" />
        <link href="~/Content/bootstrap.min.css" rel="stylesheet">
        <link href="~/estilos/estilo_navegacion.css" rel="stylesheet">
        @RenderSection("scriptoptional", required:false)
    </head>
<body>
   
    <nav class="navbar navbar-inverse" role="navigation">
        <div class="container">
            <div class="navbar-header">
                <a class="navbar-brand" href="/"><img id="logo" src="~/Images/logo.png"></a>
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li><a href="/">Inicio <span class="glyphicon glyphicon-home" aria-hidden="true"></span></a></li>
                    <li><a href="#maspuntuados">Más Puntuados <span class="glyphicon glyphicon-thumbs-up" aria-hidden="true"></span></a></li>
                    @Html.Partial("_MenuPartial")
                </ul>
            </div><!--/.nav-collapse -->
        </div>
    </nav>
    @RenderSection("mapas", required: false)    <!--a los mapas los llamo aqui porque si no no se ven, es cosa del style, que los magnificos diseñadores lo arreglen o lo pongan donde quieran-->
    <div id="body">
        @RenderSection("featured", required: false)
        <section class="content-wrapper main-content clear-fix">
            @RenderBody()
        </section>
       
    </div>
    <footer>
        <div class="content-wrapper">
            <div class="float-left">
                <p>&copy; @DateTime.Now.Year - Mi aplicación ASP.NET MVC</p>
            </div>
        </div>
    </footer>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    <script src="~/Scripts/bootstrap.min.js"></script>
    <script src="~/js/javascript_dropdown.js"></script>
    @Scripts.Render("~/bundles/jquery")
    @RenderSection("scripts", required: false)
</body>
</html>
