@model TravelnookMVC.Models.Sitio

@{
    ViewBag.Title = "Detalles";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@section scriptoptional{
    <style type="text/css">
  html { height: 100% }
  body { height: 100%; margin: 0px; padding: 0px }
   body div#body { height: 100%; margin: 0px; padding: 0px }

</style>
    <script type="text/javascript" src="https://maps.google.com/maps/api/js?sensor=false&amp;libraries=weather&amp;language=es"></script>
    <script type="text/javascript">
<!--n //
      var map;
      var geocoder;
      var infoWindow;
      var marker;
      window.onload = function () {
          var tiene= @Model.tieneLocalizacion;
          var zoom1= 4;
          if(tiene==1)  zoom1=14;
          var latLng = new google.maps.LatLng(@Model.latitud, @Model.longitud);
          var opciones = {
              center: latLng,
              zoom: zoom1,
              mapTypeId: google.maps.MapTypeId.ROADMAP
          };
          var map = new google.maps.Map(document.getElementById('map_canvas'), opciones);
          var myLatLng = {lat: @Model.latitud, lng: @Model.longitud};

                  if (tiene == 1){
                      var marker = new google.maps.Marker({
                          position: myLatLng,
                          map: map,
                          title: '@Model.Nombre'
                      });
                  }
                  // -->
      }
    </script>
}

    
}
<h2>@ViewBag.Title del Sitio @Model.Nombre</h2>

<fieldset>
    <legend>Sitio</legend>

    <h3>
        <div class="display-label">
            @Html.DisplayNameFor(model => model.Descripcion)
        
        </div>
    </h3>
    <div class="display-field">
        @Html.DisplayFor(model => model.Descripcion)
    </div>
    <h3>
        <div class="display-label">
            @Html.DisplayNameFor(model => model.NombreUsuario)
        </div>
    </h3>
    <div class="display-field">
        <a href='/Usuario/Details/@Model.NombreUsuario'>@Html.DisplayFor(model => model.NombreUsuario)</a>
</div>
    <h3>
        <div class="display-label">
            @Html.DisplayNameFor(model => model.Fecha)
        </div>
    </h3>
    <div class="display-field">
        @Html.DisplayFor(model => model.Fecha)
    </div>
    <h3>
    <h3>
        <div class="display-label">
            @Html.DisplayNameFor(model => model.Actividades)
        </div>
    </h3>
    <div class="display-field">
        @foreach (string a in Model.Actividadesimprimir)
        {
            @Html.DisplayName(a)
            <br />
        }
       
    </div>
    <h3>
        <div class="display-label">
            @Html.DisplayNameFor(model => model.TipoSitio)
        </div>
    </h3>
    <div class="display-field">
        @Html.DisplayFor(model => model.TipoSitio)
    </div>
    Fotos:<br />
    @foreach(var item2 in Model.fotos){
    <img src='@item2' /> <br />
        
    }
    Vídeos:<br />
    @foreach (var item3 in Model.Videos)
    {
        <img src='@item3' /> <br />
        <!--
            <video width="320" height="240" controls> No va en internet explorer
   <source src='@item3'>
   Your browser does not support the video tag.
</video> 
        -->
    }
</fieldset>
<p>
    @if (Model.Comentarios != null)
    {
        foreach (var item in Model.Comentarios)
        {
            @Html.DisplayFor(modelItem => item.Usuario)
            <br />
            @Html.DisplayNameFor(modelItem => item.Fecha)
            @Html.DisplayFor(modelItem => item.Fecha)
            <br />
            @Html.DisplayNameFor(modelItem => item.likes)
            @Html.DisplayFor(modelItem => item.likes)
            <br />
            @Html.DisplayNameFor(modelItem => item.dislikes)
            @Html.DisplayFor(modelItem => item.dislikes)
            <br />
            @Html.DisplayNameFor(modelItem => item.Descripcion)
            @Html.DisplayFor(modelItem => item.Descripcion)
            <br />


        }
    }
    else
    { <h3>No hay comentarios que mostrar</h3>}
    <h2>Escribe un comentario</h2>
    @if (Request.IsAuthenticated)
    {
        using (Html.BeginForm("Create", "Comentario", FormMethod.Post, new { enctype = "multipart/form-data" }))
        {
            @Html.AntiForgeryToken()
            @Html.ValidationSummary(true)
            
            <textarea id="Descripcion" name="Descripcion" placeholder="Introduzca su comentario aquí"></textarea>
            
            <input type="hidden" id="Sitio" name="Sitio"  value='@Model.Nombre' />
            <p>
                <input type="submit" value="Publicar" />
            </p>
        }
    }
    else
    { <a href="/Account/LogIn">inicia sesión</a>
<p> o </p><a href="/Account/Register">Regístrate </a><p>Para poder comentar</p> }

    @if (User.Identity.Name == Model.NombreUsuario)
    {
       @Html.ActionLink("Editar", "Edit", new { id=Model.Nombre }) 
    }
</p>
@section mapas{
    <span id="geocoding"></span>
    <div id="map_canvas" style="width:100%; height:90%"></div>
}